* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.itemFirst {
  position: relative;
  display: flex;
  background: transparent;
  height: 10rem;
  border-radius: 20px;
  overflow: hidden;
  height: 200px;
}

.itemFirst img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation: animation 38s infinite;
  animation-direction: alternate;
  z-index: -1;
}

.itemFirst .title {
  font-size: 45px;
  font-weight: 600;
  color: white;
}

.itemFirst .button {
  position: absolute;
  right: 2.5rem;
  bottom: 2.5rem;
  background-color: hsla(0, 0%, 100%, 0.14);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemFirst .button span {
  color: white;
}

@keyframes animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

/* itemSecond */
.itemSecond {
  display: flex;
  height: 10rem;
  border-radius: 20px;
  overflow: hidden;
  height: 200px;
  background-color: #323232;
}

.itemSecond .image {
  width: 30%;
  height: 90%;
  margin: 15px 0px 15px 5px;
}
.itemSecond .image img {
  width: 170px;
  height: 170px;
  border-radius: 1.6rem;
}

.itemSecond .title div:nth-child(1) {
  font-size: 45px;
  font-weight: 600;
  color: white;
}

.itemSecond .title div:nth-child(2) {
  font-size: 15px;
  color: white;
}

.itemSecond .control {
  display: flex;
  margin-top: 50px;
}
.itemSecond .control .button {
  color: white;
  font-size: 27px;
}
.itemSecond .control .radio {
  color: gray;
  font-size: 20px;
  margin-left: 200px;
}
