.RecommendedPlaylists {
  margin-top: 100px;
  .row_first {
    margin-bottom: 100px;
  }
}

.ForYou {
  margin-top: 100px;
}

.Artists {
  margin-top: 100px;
  .Artists__item {
  }
}

.LatestAlbums {
  margin-top: 100px;
}

.Charts {
  margin-top: 100px;
}
